<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./assets/deveb/css/deveb.min.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/image/favicon-32x32.png">
  <title>{{ page.title }}</title>
</head>

<body>
  <bet>
    <bölüm id="üst">
      {% include header.html %}
    </bölüm>

    <bölüm id="sol">
      {% include sol-alan.html %}
    </bölüm>
    <bölüm id="orta" class="alan">
      {{ content }}
    </bölüm>
    <bölüm id="sağ">
      <div class="alan">abece</div>
      <div class="alan">abece</div>
      <div class="alan">abece</div>
      <div class="alan">abece</div>
    </bölüm>
    <bölüm id="alt">

    </bölüm>
  </bet>
</body>

</html>